
<script type="text/javascript" src="js/automa.js"></script>

    <div class="container">
        <div class="well well-sm">
            <p>Image credits:</p>
            <a class="photocred" href="http://redravengames.squarespace.com/" target="_blank" rel="noopener noreferrer">Red Raven Games</a> 
            <a class="photocred" href="http://unsplash.com/@ramblere?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" >Siyan Ren</a>
        </div>    
    </div>
    

</body>
</html>