<!DOCTYPE html>
<html>
<head>
	<title>Virtual Automas</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/automas.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

